<app-slider #slider [data]="this.data()" [design]="customDesign() ?? design" [init]="false"
            gap="24px">
  <h2 header>{{ title() }}</h2>
  <span subheader>{{ subHeader() }}</span>
  <div class="navigation" inContentsNavigation>
    <button #prevNavigator class="navigator prev">
      <svg viewBox="0 -960 960 960" xmlns="http://www.w3.org/2000/svg">
        <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/>
      </svg>
    </button>
    <button #nextNavigator class="navigator next">
      <svg viewBox="0 -960 960 960" xmlns="http://www.w3.org/2000/svg">
        <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
      </svg>
    </button>
  </div>
</app-slider>

<ng-template #design let-model>
  <app-shine-card [backgroundColor]="{ red: 25, green: 25, blue: 25, opacity: 1 }" [initShine]="true" role="button"
                  tabindex="0"
                  [shineColor]="{ red: 100, green: 100, blue: 100, opacity: 0.1 }" padding=".4em">
    <app-media-card (click)="onCardClickHandler(model)" [date]="model.release_date ?? model.first_air_date ?? 'N/A'"
                    [mediaType]="model.media_type ?? mediaType()"
                    [poster]="`${environment.imageBaseUrl}/w500${model.poster_path}`"
                    [title]="model.title ?? model.name ?? 'Unknown'"/>
  </app-shine-card>
</ng-template>
