<!-- TODO: Create a way for the user to delete and rename playlists -->
<section class="playlists w-full h-full flex flex-col gap-4">
  <!-- Header -->
  <div hlmDialogHeader>Playlists</div>

  <!-- Contents -->
  <ng-scrollbar hlm appearance="compact" class="playlist-items w-full h-full max-h-100">
    @for (playlist of localPlaylists(); track playlist.name) {
      <a
        hlmItem variant="outline" size="sm" class="w-full mb-2"
        (click)="handlePlaylistButtonClick(playlist.name)">
        <hlm-item-content>
          <hlm-item-title>
            @if (currentEditingPlaylist() === playlist.name) {
              <hlm-input-group>
                <input
                  #newNameInput
                  meAutofocus
                  hlmInputGroupInput
                  type="text"
                  [value]="playlist.name"
                  [placeholder]="playlist.name"
                  (click)="$event.stopPropagation()"
                  (keydown.enter)="handleSavePlaylistName($event, newNameInput.value)"
                >
                <hlm-input-group-addon align="inline-end">
                  <button
                    hlmBtn variant="outline" size="xs"
                    (click)="handleSavePlaylistName($event, newNameInput.value)">
                    <ng-icon name="lucideCheck" class="text-sm" />
                  </button>
                </hlm-input-group-addon>
              </hlm-input-group>
            } @else {
              {{ playlist.name }}
            }
          </hlm-item-title>
          <p hlmItemDescription>{{ playlist.items.length }} items</p>
        </hlm-item-content>
        <hlm-item-actions>
          <button
            hlmBtn
            [hlmDropdownMenuTrigger]="actionsMenu"
            [hlmDropdownMenuTriggerData]="{$implicit: playlist.name}"
            variant="outline"
            class="rounded-full"
            (click)="$event.stopPropagation()"
          >
            <ng-icon name="lucideMoreVertical" class="text-xs" />
          </button>
        </hlm-item-actions>
      </a>
    }
  </ng-scrollbar>

  <hlm-separator />

  <!-- Footer -->
  <div hlmDialogFooter class="flex flex-row gap-2 w-full">
    <button hlmBtn class="grow" size="sm" (click)="createNewPlaylist()">New</button>
    <button hlmBtn class="grow" size="sm" variant="secondary" (click)="closeDialog()">Close</button>
  </div>
</section>

<ng-template #actionsMenu let-name>
  <hlm-dropdown-menu>
    @let addRemoveBtnName = (
                              isTrackInPlaylist(name)
                            ) ? 'Remove' : 'Add';

    <button hlmDropdownMenuItem (click)="handlePlaylistButtonClick(name)">{{
        addRemoveBtnName
      }}
    </button>
    <button hlmDropdownMenuItem (click)="handleEditPlaylist(name)">Edit</button>
    <button hlmDropdownMenuItem (click)="handleDeletePlaylist(name)">Delete</button>
  </hlm-dropdown-menu>
</ng-template>
