@use '../../foundations/mixins';
@use '../../foundations/constants';
@use '../../foundations/responsive';

.container {
  @include mixins.grid($grid-template-columns: 1fr min(280px, 30%), $gap: constants.$spacing-lg);
  @include mixins.width-height();

  section {
    border-radius: constants.$border-radius-md;
    background-color: constants.$dark-surface-800;
    overflow: hidden;
  }
}

@include responsive.laptop-below {
  .container {
    @include mixins.grid($grid-template-columns: 1fr, $gap: constants.$spacing-lg);
  }
}

