@keyframes slide-animation {
  from {
    transform: translateX(  100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.enter-slide-animation {
  animation: slide-animation 0.3s ease-out;
}

.leave-slide-animation {
  animation: slide-animation 0.3s ease-out reverse;
}
