<div class="playlists-entry w-full h-full">
  <button
    class="playlists-entry__images w-full aspect-square rounded-lg overflow-hidden border-2 border-card brightness-90"
    (click)="navigateToPlaylistPage()"
  >
    @let imagesToUse = images.value();
    @if (imagesToUse.length === 0) {
      <div class="playlist-entry__image w-full h-full relative">
        <img
          ngSrc="/images/placeholder-empty-playlist.png" class="object-cover" alt="Cover Image"
          loading="lazy"
          fill>
      </div>
    } @else if ((
      imagesToUse.length >= 1 && imagesToUse.length <= 3
    ) || multipleImages().length < 4) {
      <div class="playlist-entry__image w-full h-full relative">
        <img [ngSrc]="singleImage()" class="object-cover" alt="Cover Image" loading="lazy" fill>
      </div>
    } @else {
      <div class="playlist-entry__images-grid grid grid-cols-2 grid-rows-2 w-full h-full">
        @for (image of multipleImages(); track image) {
          <div class="playlist-entry__image w-full h-full relative">
            <img [ngSrc]="image" class="object-cover" alt="Cover Image" loading="lazy" fill>
          </div>
        }
      </div>
    }
  </button>
  <div class="playlists-entry__info relative flex flex-col">
    <div class="playlists-entry__info__header flex flex-row justify-between items-end">
      <h2 class="font-bold text-lg">{{ playlist().name }}</h2>
      <button
        hlmBtn [hlmDropdownMenuTrigger]="playlistEntryControlsDropdown" variant="ghost" size="sm"
        class="p-0 rounded-full">
        <ng-icon name="lucideEllipsisVertical" class="text-sm" />
      </button>
    </div>

    <div
      class="playlists-entry__info__meta flex flex-rot gap-1 items-center text-sm text-accent-foreground">
      <span class="text-amber-300 text-xs">{{ itemsCountLabel() }} </span>
      <span class="shrink-0 font-thin">&middot;</span>
      <span class="font-thin text-xs">Updated {{ lastModificationLabel() }}</span>
    </div>
  </div>
</div>

<ng-template #playlistEntryControlsDropdown>
  <hlm-dropdown-menu>
    <hlm-dropdown-menu-group>
      <button hlmDropdownMenuItem [hlmDialogTriggerFor]="editPlaylistNameDialog">
        <span>Edit</span>
      </button>
      <button
        hlmDropdownMenuItem
        [hlmAlertDialogTriggerFor]="deletePlaylistAlertDialog">
        <span>Delete</span>
      </button>
    </hlm-dropdown-menu-group>
  </hlm-dropdown-menu>
</ng-template>

<hlm-dialog #editPlaylistNameDialog>
  <hlm-dialog-content *hlmDialogPortal="let ctx">
    <hlm-dialog-header>
      <h2 hlmDialogTitle>Edit Playlist Name</h2>
    </hlm-dialog-header>

    <div class="flex flex-col gap-2">
      @let playlistName = playlist().name;
      <input
        #newPlaylistName
        id="playlist-name" type="text" hlmInput [value]="playlistName" [placeholder]="playlistName"
        (keydown.enter)="updatePlaylistName(newPlaylistName.value, ctx)"
        (keydown.esc)="ctx.close()"
        class="w-full">
    </div>

    <hlm-dialog-footer>
      <div class="flex flex-row gap-2 w-full">
        <button hlmBtn variant="outline" class="w-1/2" (click)="ctx.close()">
          Cancel
        </button>
        <button hlmBtn class="w-1/2" (click)="updatePlaylistName(newPlaylistName.value, ctx)">
          Save
        </button>
      </div>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>

<hlm-alert-dialog #deletePlaylistAlertDialog>
  <hlm-alert-dialog-content *hlmAlertDialogPortal="let ctx">
    <hlm-alert-dialog-header>
      <h2 hlmAlertDialogTitle>Delete playlist?</h2>

      <p hlmAlertDialogDescription>
        This playlist will be deleted alongside all of its contents. This action cannot be undone.
      </p>
    </hlm-alert-dialog-header>

    <hlm-alert-dialog-footer>
      <button hlmAlertDialogCancel (click)="ctx.close()">
        Cancel
      </button>

      <button
        hlmAlertDialogAction
        variant="destructive"
        (click)="deletePlaylist(); ctx.close()">
        Delete
      </button>
    </hlm-alert-dialog-footer>
  </hlm-alert-dialog-content>
</hlm-alert-dialog>
