<div class="playlists-entry w-full h-full">
  <div
    class="playlists-entry__images aspect-square rounded-lg overflow-hidden border-2 border-card brightness-90">
    @let imagesToUse = images.value();
    @if (imagesToUse.length === 0) {
      <div class="playlist-entry__image w-full h-full relative">
        <img
          ngSrc="/images/placeholder-empty-playlist.png" class="object-cover" alt="Cover Image"
          loading="lazy"
          fill>
      </div>
    } @else if (imagesToUse.length >= 1 && imagesToUse.length <= 3) {
      <div class="playlist-entry__image w-full h-full relative">
        <img [ngSrc]="singleImage()" class="object-cover" alt="Cover Image" loading="lazy" fill>
      </div>
    } @else {
      <div class="playlist-entry__images-grid grid grid-cols-2 grid-rows-2 w-full h-full">
        @for (image of fourImages(); track image) {
          <div class="playlist-entry__image w-full h-full relative">
            <img [ngSrc]="image" class="object-cover" alt="Cover Image" loading="lazy" fill>
          </div>
        }
      </div>
    }
  </div>
  <div class="playlists-entry__info flex flex-col gap-4">

    <div class="playlists-entry__info__details">
      <h2 class="font-bold text-lg">{{ playlist().name }}</h2>
      <div
        class="playlists-entry__info__details__meta flex flex-rot gap-1 items-center text-sm text-accent-foreground">
        <span class="text-amber-300 text-xs">{{ itemsCountLabel() }} </span>
        <span class="shrink-0 font-thin">&middot;</span>
        <span class="font-thin text-xs">Updated {{ lastModificationLabel() }}</span>
      </div>
    </div>
  </div>
</div>
