<section class="home flex flex-col items-center gap-24">
  @let heroItemsEntries = heroItems();

  @if (heroItemsEntries.length === 0) {
    <ng-container *ngTemplateOutlet="heroSkeletonCarousel"></ng-container>
  } @else {
    <me-hero-slider
      [items]="heroItemsEntries"
      class="w-full accent-background"
      (onClickPlay)="handleItemClick($event)"
    />
  }

  <div
    class="sliders-container flex flex-col gap-16 max-w-[1750px] w-[95%] md:w-[90%] lg:w-[85%] -mt-28">

    <!-- Top Movies -->
    @let topMoviesItems = topMovies();
    <div class="carousel-holder flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Top Rated Movies</h2>

      @if (topMoviesItems.length === 0) {
        <ng-container *ngTemplateOutlet="mediaCoverCarouselSkeleton"></ng-container>
      } @else {
        <me-media-carousel
          [items]="topMoviesItems"
          [template]="mediaRankingItem" />
      }
    </div>

    <hlm-separator />

    <!-- Popular Movies -->
    @let popularMoviesItems = popularMovies();
    <div class="carousel-holder flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Popular Movies</h2>

      @if (popularMoviesItems.length === 0) {
        <ng-container *ngTemplateOutlet="mediaBackdropCarouselSkeleton"></ng-container>
      } @else {
        <me-media-carousel
          [items]="popularMoviesItems"
          [template]="mediaBackdropItem" />
      }
    </div>

    <hlm-separator />

    <!-- Discover Movies -->
    @let discoverMoviesItems = discoverMovies();
    <div class="carousel-holder flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Discover Movies</h2>

      @if (discoverMoviesItems.length === 0) {
        <ng-container *ngTemplateOutlet="mediaCoverCarouselSkeleton"></ng-container>
      } @else {
        <me-media-carousel
          [items]="discoverMoviesItems"
          [template]="mediaCoverItem" />
      }
    </div>

    <hlm-separator />

    <!-- Top TV Shows -->
    @let topTvShowsItems = topTvShows();
    <div class="carousel-holder flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Top Rated TV Shows</h2>

      @if (topTvShowsItems.length === 0) {
        <ng-container *ngTemplateOutlet="mediaCoverCarouselSkeleton"></ng-container>
      } @else {
        <me-media-carousel
          [items]="topTvShowsItems"
          [template]="mediaRankingItem" />
      }
    </div>

    <hlm-separator />

    <!-- Popular TV Shows -->
    @let popularTvShowsItems = popularTvShows();
    <div class="carousel-holder flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Popular TV Shows</h2>

      @if (popularTvShowsItems.length === 0) {
        <ng-container *ngTemplateOutlet="mediaBackdropCarouselSkeleton"></ng-container>
      } @else {
        <me-media-carousel
          [items]="popularTvShowsItems"
          [template]="mediaBackdropItem" />
      }
    </div>

    <hlm-separator />

    <!-- Discover TV Shows -->
    @let discoverTvShowsItems = discoverTvShows();
    <div class="carousel-holder flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Discover TV Shows</h2>

      @if (discoverTvShowsItems.length === 0) {
        <ng-container *ngTemplateOutlet="mediaCoverCarouselSkeleton"></ng-container>
      } @else {
        <me-media-carousel
          [items]="discoverTvShowsItems"
          [template]="mediaCoverItem" />
      }
    </div>

    <!-- User Playlists -->
    @let playlists = userPlaylistsFullDetails();

    @if (playlists.length > 0) {
      <hlm-separator />
      @for (playlist of playlists; track playlist.id) {
        @if (playlist.items.length > 0) {
          <div class="carousel-holder flex flex-col gap-4">
            <h2 class="text-2xl font-bold">{{ playlist.name }}</h2>

            <me-media-carousel
              [items]="playlist.items"
              [template]="playlist.displayMode === 'cover' ? mediaCoverItem : mediaBackdropItem"
              [includeProgressDots]="false" />
          </div>

          @if (!$last) {
            <hlm-separator />
          }
        }
      }
    }
  </div>
</section>

<ng-template #mediaCoverItem let-item>
  <me-media-carousel-cover-item
    class="ml-4 self-stretch basis-[200px] md:basis-[225px] shrink-0"
    [item]="item"
    (itemClick)="handleItemClick($event)" />
</ng-template>

<ng-template #mediaBackdropItem let-item>
  <me-media-carousel-backdrop-item
    class="self-stretch basis-[325px] md:basis-[375px] ml-4 shrink-0"
    [item]="item"
    (itemClick)="handleItemClick($event)" />
</ng-template>

<ng-template #mediaRankingItem let-item>
  <me-media-carousel-top-item
    class="ml-24 self-stretch basis-[200px] md:basis-[225px] shrink-0"
    [item]="item"
    (itemClick)="handleItemClick($event)" />
</ng-template>

<ng-template #mediaCoverCarouselSkeleton>
  <me-media-carousel
    [items]="carouselSkeletonItems"
    [template]="mediaCoverItemSkeleton" />
</ng-template>

<ng-template #mediaBackdropCarouselSkeleton>
  <me-media-carousel
    [items]="carouselSkeletonItems"
    [template]="mediaBackdropItemSkeleton" />
</ng-template>

<ng-template #heroSkeletonCarousel>
  <me-media-carousel
    [items]="heroSkeletonItems"
    [template]="heroSkeleton"
    [includeControls]="false"
    [includeProgressDots]="false" />
</ng-template>

<ng-template #mediaCoverItemSkeleton>
  <div class="ml-4 self-stretch basis-[200px] md:basis-[225px] shrink-0">
    <hlm-skeleton class="w-full aspect-2/3 rounded-xl" />
    <div class="flex flex-col gap-1 mt-2">
      <hlm-skeleton class="w-full h-4" />
      <hlm-skeleton class="w-1/2 h-4" />
    </div>
  </div>
</ng-template>

<ng-template #mediaBackdropItemSkeleton>
  <div class="self-stretch basis-[325px] md:basis-[375px] ml-4 shrink-0">
    <hlm-skeleton class="w-full aspect-video rounded-xl" />
    <div class="flex flex-col gap-1 mt-2">
      <hlm-skeleton class="w-[70%] h-4" />
    </div>
  </div>
</ng-template>

<ng-template #heroSkeleton>
  <div
    class="h-[90vh] w-screen max-w-screen relative aspect-video mask-[linear-gradient(to_bottom,var(--background)_80%,transparent_95%)]">
    <hlm-skeleton class="absolute inset-0 w-full h-full" />
  </div>
</ng-template>
