<section class="home flex flex-col items-center gap-24">
  @let heroItemsEntries = heroItems();
  @if (heroItemsEntries.length === 0) {
    <ng-container *ngTemplateOutlet="heroSkeletonCarousel"></ng-container>
  } @else {
    <me-hero-slider
      [items]="heroItems()"
      class="w-full accent-background"
      (onClickPlay)="handleItemClick($event)"
    />
  }

  <div
    class="sliders-container flex flex-col gap-16 max-w-[1750px] w-[95%] md:w-[90%] lg:w-[85%] -mt-28">

    <!-- Top Movies (Cover Carousel)-->
    <div class="discover-movie flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Top Rated Movies</h2>
      @let topMoviesEntries = topMovies();
      @if (topMoviesEntries.length === 0) {
        <ng-container *ngTemplateOutlet="mediaCoverCarouselSkeleton"></ng-container>
      } @else {
        <me-media-carousel [items]="topMoviesEntries" [template]="mediaRankingItem" />
      }
    </div>

    <hlm-separator />

    <!-- Popular Movies (Backdrop Carousel) -->
    <div class="discover-movie flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Popular Movies</h2>
      @let popularMoviesEntries = popularMovies();
      @if (popularMoviesEntries.length === 0) {
        <ng-container *ngTemplateOutlet="mediaBackdropCarouselSkeleton"></ng-container>
      } @else {
        <me-media-carousel [items]="popularMoviesEntries" [template]="mediaBackdropItem" />
      }
    </div>

    <hlm-separator />

    <!-- Discover Movies (Cover Carousel) -->
    <div class="discover-movie flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Discover Movies</h2>
      @let discoverMoviesEntries = discoverMovies();
      @if (discoverMoviesEntries.length === 0) {
        <ng-container *ngTemplateOutlet="mediaCoverCarouselSkeleton"></ng-container>
      } @else {
        <me-media-carousel [items]="discoverMoviesEntries" [template]="mediaCoverItem" />
      }
    </div>

    <hlm-separator />

    <!-- Top TV Shows (Cover Carousel)-->
    <div class="discover-movie flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Top Rated Tv Shows</h2>
      @let topTvShowsEntries = topTvShows();
      @if (topTvShowsEntries.length === 0) {
        <ng-container *ngTemplateOutlet="mediaCoverCarouselSkeleton"></ng-container>
      } @else {
        <me-media-carousel [items]="topTvShows()" [template]="mediaRankingItem" />
      }
    </div>

    <hlm-separator />

    <!-- Popular Tv Shows (Backdrop Carousel) -->
    <div class="discover-movie flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Popular Tv Shows</h2>
      @let popularTvShowsEntries = popularTvShows();
      @if (popularTvShowsEntries.length === 0) {
        <ng-container *ngTemplateOutlet="mediaBackdropCarouselSkeleton"></ng-container>
      } @else {
        <me-media-carousel [items]="popularTvShows()" [template]="mediaBackdropItem" />
      }
    </div>

    <hlm-separator />

    <!-- Discover TV Shows (Cover Carousel) -->
    <div class="discover-tv flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Discover TV Shows</h2>
      @let discoverTvShowsEntries = discoverTvShows();
      @if (discoverTvShowsEntries.length === 0) {
        <ng-container *ngTemplateOutlet="mediaCoverCarouselSkeleton"></ng-container>
      } @else {
        <me-media-carousel [items]="discoverTvShows()" [template]="mediaCoverItem" />
      }
    </div>


    @if (isAuthenticated()) {
      <!-- User Playlist -->
      <hlm-separator />

      @for (playlist of userPlaylistsFullDetails(); track playlist.id) {

      }
    }
  </div>
</section>

<ng-template #mediaCoverItem let-item>
  <me-media-carousel-cover-item
    class="ml-4 self-stretch basis-[200px] md:basis-[225px] shrink-0" [item]="item"
    (itemClick)="handleItemClick($event)" />
</ng-template>

<ng-template #mediaBackdropItem let-item>
  <me-media-carousel-backdrop-item
    class="self-stretch basis-[325px] md:basis-[375px] ml-4 shrink-0"
    [item]="item"
    (itemClick)="handleItemClick($event)" />
</ng-template>

<ng-template #mediaRankingItem let-item>
  <me-media-carousel-top-item
    class="ml-24 self-stretch basis-[200px] md:basis-[225px] shrink-0"
    [item]="item"
    (itemClick)="handleItemClick($event)" />
</ng-template>

<ng-template #mediaCoverCarouselSkeleton>
  <me-media-carousel
    [items]="[1, 2, 3, 4, 5, 6 ,7, 8, 9, 10]" [template]="mediaCoverItemSkeleton" />
</ng-template>

<ng-template #mediaBackdropCarouselSkeleton>
  <me-media-carousel
    [items]="[1, 2, 3, 4, 5, 6 ,7, 8, 9, 10]" [template]="mediaBackdropItemSkeleton" />
</ng-template>

<ng-template #heroSkeletonCarousel>
  <me-media-carousel
    [items]="[1]" [template]="heroSkeleton" [includeControls]="false"
    [includeProgressDots]="false" />
</ng-template>

<ng-template #mediaCoverItemSkeleton>
  <div class="ml-4 self-stretch basis-[200px] md:basis-[225px] shrink-0">
    <hlm-skeleton class="w-full aspect-2/3 rounded-xl" />
    <div class="flex flex-col gap-1 mt-2">
      <hlm-skeleton class="w-full h-4" />
      <hlm-skeleton class="w-1/2 h-4" />
    </div>
  </div>
</ng-template>

<ng-template #mediaBackdropItemSkeleton>
  <div class="self-stretch basis-[325px] md:basis-[375px] ml-4 shrink-0">
    <hlm-skeleton class="w-full aspect-video rounded-xl" />
    <div class="flex flex-col gap-1 mt-2">
      <hlm-skeleton class="w-[70%] h-4" />
    </div>
  </div>
</ng-template>

<ng-template #heroSkeleton>
  <div
    class="h-[90vh] w-screen max-w-screen relative aspect-video mask-[linear-gradient(to_bottom,var(--background)_80%,transparent_95%)]">
    <hlm-skeleton class="absolute inset-0 w-full h-full" />
  </div>
</ng-template>
