<div class="container">
  <main class="watching-area">
    <section class="player-container">
      <iframe [src]="mediaResourceUrl()" allowfullscreen></iframe>
    </section>
    <section class="media-settings-container">
      @if (!mediaDetailsRequest.isLoading()) {
        @if (seasons().length > 0) {
          <app-shine-card>
            <app-drop-down-select width="100%" [(selected)]="selectedSeasonOption" [options]="seasonsOptions()"/>
          </app-shine-card>
        }
        @if (episodes().length > 0) {
          <app-shine-card>
            <app-drop-down-select width="100%" [(selected)]="selectedEpisodeOption" [options]="episodes()"/>
          </app-shine-card>
        }
      } @else {
        <app-skeleton borderRadius="8px" width="125px" height="100%"/>
        <app-skeleton borderRadius="8px" width="125px" height="100%"/>
      }

      <app-shine-card>
        <app-drop-down-select [(selected)]="selectedMediaLinkProvider" [options]="mediaLinkProviderOptions()"
                              width="100%"/>
      </app-shine-card>
    </section>
  </main>

  <main appBottomNavBarSpacer class="other-contents">
    <section class="media-details-container">
    </section>
    <section class="sliders">
      <app-media-slider (onCardClick)="handleOnCardClick($event)" [data]="mediaRecommendations()" mediaType="tv"
                        subHeader="Recommendations for you"
                        title="Recommendations"/>
    </section>
  </main>
</div>
