<div #cardRef class="card"
     [ngStyle]="{
       '--shine-color-r': shineColor().red,
       '--shine-color-g': shineColor().green,
       '--shine-color-b': shineColor().blue,
       '--shine-opacity': shineColor()?.opacity ?? .1,
       '--bg-color-r': backgroundColor().red,
       '--bg-color-g': backgroundColor().green,
       '--bg-color-b': backgroundColor().blue,
       '--bg-opacity': backgroundColor()?.opacity ?? 1,
       '--shine-radius': shineRadius() + 'px',
       '--content-padding': padding(),
     }"
>
  <div class="card-content">
    <ng-content></ng-content>
  </div>
</div>
