@use "../../../../foundations/mixins";
@use "../../../../foundations/constants";

select {
  background-color: var(--background-color, constants.$dark-surface-600);
  padding: constants.$spacing-md constants.$spacing-xxl;
  border-radius: constants.$border-radius-sm;
  overflow: hidden;
  border: none;
}
