@use '../../../../foundations/constants';
@use '../../../../foundations/mixins';

.input-container {
  @include mixins.flex($gap: constants.$spacing-md);
  @include mixins.border-radius(constants.$border-radius-lg);
  background: constants.$dark-surface-600;
  padding: constants.$spacing-md;

  .icon-wrapper {
    @include mixins.flex($justify-content: center, $align-items: center);

    &:hover {
      cursor: pointer;
    }
  }

  .input-wrapper {
    flex-grow: 1;

    input {
      @include mixins.width-height();
      color: constants.$dark-surface-100;
      background: transparent;
      border: none;
      padding: 0;

      &:focus {
        outline: none;
      }
    }
  }
}
