@use '../../foundations/mixins';
@use '../../foundations/constants';
@use '../../foundations/responsive';

.container {
  @include mixins.width-height();
  @include mixins.hidden-scrollbar();
  @include mixins.flex($direction: column, $gap: 3em);
  background-color: constants.$dark-surface-800;
  padding: constants.$spacing-md;
  overflow: auto;
}

@include responsive.mobile-large {
  .container {
    background-color: transparent;
  }
}
