<div #scrollToTarget class="container">
  <app-scroll-top [target]="scrollToTarget"/>
  <app-media-slider [data]="this.airingTodayTvSeries().results" mediaType="tv"
                    subHeader="New episodes airing today"
                    title="Airing Series"/>

  <app-media-slider [data]="this.onTheAirTvSeries().results" mediaType="tv"
                    subHeader="New episodes in the past week"
                    title="Airing this past week"/>

  <app-media-slider [data]="this.popularTvShows().results" mediaType="tv"
                    subHeader="Check out the latest popular series"
                    title="Popular TV Shows"/>

  <app-media-slider [data]="this.topRatedTvSeries().results" mediaType="tv"
                    subHeader="Top rated TV shows of all time"
                    title="Top Rated"/>
</div>
