<section class="search w-full h-full flex flex-col gap-4 relative p-4">

  <div class="search-header sticky flex flex-col gap-4 top-0 z-100 bg-background py-4">

    <div class="search__container flex flex-row gap-2">
      <div hlmInputGroup class="rounded-full">
        <input [(ngModel)]="searchQuery" hlmInputGroupInput type="text" placeholder="Search..." />
        <div hlmInputGroupAddon>
          <ng-icon name="lucideSearch"></ng-icon>
        </div>
      </div>
      <button hlmBtn hlmDialogClose class="rounded-full">
        <ng-icon name="lucideX" />
      </button>
    </div>

    <hlm-toggle-group
      [value]="selectedType()" (valueChange)="changeSelectedType($event)" variant="outline"
      type="single">
      <button hlmToggleGroupItem class="w-18" value="mixed" aria-label="Toggle Mixed Search">Mixed
      </button>
      <button hlmToggleGroupItem class="w-18" value="movie" aria-label="Toggle Movies Search">
        Movies
      </button>
      <button hlmToggleGroupItem class="w-18" value="tv" aria-label="Toggle TV Shows Search">TV
      </button>
    </hlm-toggle-group>
  </div>

  @let items = searchedItems.value();

  <div
    class="results-container rounded-2xl border overflow-hidden w-full h-full flex items-center justify-center">
    @if (items.length > 0 || isLoading()) {
      <ng-scrollbar hlm class="w-full h-full " appearance="compact">
        <div
          class="results h-full p-1 grid gap-4 grid-cols-[repeat(auto-fill,minmax(150px,1fr))] md:grid-cols-[repeat(auto-fill,minmax(175px,1fr))] lg:grid-cols-[repeat(auto-fill,minmax(225px,1fr))]">
          @if (isLoading()) {
            <!-- Loading Items Skeletong -->
            @for (item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track item) {
              <ng-container *ngTemplateOutlet="mediaCoverItemSkeleton"></ng-container>
            }
          } @else {
            <!-- Searched Items -->
            @for (item of items; track item.id) {
              <ng-container
                *ngTemplateOutlet="mediaCoverItem; context: { $implicit: item }"></ng-container>
            }
          }
        </div>
      </ng-scrollbar>
    } @else if (items.length === 0 && debouncedSearch().length > 0) {
      <!-- No Results in Search -->
      @let context = {
        title  : 'Nothing Found',
        message: 'No results found for your search query.',
        icon   : 'lucideArchiveX'
      };
      <ng-container
        *ngTemplateOutlet="emptyState; context: context"></ng-container>
    } @else {
      <!-- Start Searching -->
      @let context = {
        title  : 'Search Anything',
        message: 'Start typing to search for Movies and TV shows.',
        icon   : 'lucideKeyboard'
      };
      <ng-container
        *ngTemplateOutlet="emptyState; context: context"></ng-container>
    }
  </div>

</section>

<!-- Searched Item -->
<ng-template #mediaCoverItem let-item>
  <me-media-carousel-cover-item
    (click)="navigateToWatchPage(item)"
    class="w-full" [item]="item" />
</ng-template>

<!-- Searched Item Skeleton -->
<ng-template #mediaCoverItemSkeleton>
  <div class="w-full">
    <hlm-skeleton class="w-full aspect-2/3 rounded-xl" />
    <div class="flex flex-col gap-1 mt-2">
      <hlm-skeleton class="w-full h-4" />
      <hlm-skeleton class="w-1/2 h-4" />
    </div>
  </div>
</ng-template>

<!-- Empty State -->
<ng-template #emptyState let-title="title" let-message="message" let-icon="icon">
  <div hlmEmpty>
    <div hlmEmptyHeader>
      <div hlmEmptyMedia variant="icon">
        <ng-icon [name]="icon" />
      </div>
      <div hlmEmptyTitle>{{ title }}</div>
      <div hlmEmptyDescription>{{ message }}</div>
    </div>
    <div hlmEmptyContent>
    </div>
  </div>
</ng-template>
