@use "../../../../foundations/mixins";
@use "../../../../foundations/constants";

.container {
  @include mixins.flex($direction: column, $gap: constants.$spacing-md);
  width: var(--width);

  .header-text {
    @include mixins.max-lines(1);
    font-size: var(--header-text-size);
    font-weight: var(--header-text-weight);
  }

  .contents {
    @include mixins.flex($direction: column, $align-items: end, $gap: constants.$spacing-md);

    .text-wrapper {
      @include mixins.transition();
      @include mixins.max-lines(var(--text-lines));
      text-align: var(--text-align);
      font-weight: var(--text-weight);
      font-size: var(--text-size);
      letter-spacing: var(--text-spacing);
    }

    .expanded {
      @include mixins.max-lines(unset);
    }

    button {
      background-color: transparent;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
