<!--@if (progressType() !== 'hidden') {-->
<!--  <p-progress-bar [mode]="(progressType() === 'indeterminate') ? 'indeterminate' : ''"-->
<!--                  [style]="{ 'height': '3px', 'background-color': 'transparent' }"/>-->
<!--}-->
<!--<p-toast/>-->

@if (progressType() === 'indeterminate') {
  <app-indeterminate-progress-bar/>
}

<!-- Loading Screen Overlay -->
@if (showLoadingScreen()) {
  <div #loadingContainer class="loading-container">
    <app-loading [ngClass]="{'fade-out': isDeletingLoadingScreen()}"/>
  </div>
}

<div class="container">
  @if (!isMobile()) {
    <aside class="content-container">
      <app-navigation-rail/>
    </aside>
  }
  <main class="content-container">
    <router-outlet></router-outlet>
  </main>
</div>
