@use '../foundations/constants';
@use '../foundations/mixins';
@use '../foundations/responsive';

.container {
  @include mixins.width-height();
  @include mixins.transition($property: all, $timing-function: ease, $duration: .8s);
  gap: constants.$spacing-lg;
  padding: constants.$spacing-lg;
  display: grid;
  grid-template-columns: min(225px, 100%) 1fr;

  .content-container {
    @include mixins.hidden-scrollbar();
    position: relative;
    border-radius: constants.$border-radius-lg;
  }

  main {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    ::ng-deep > :last-child {
      @include mixins.width-height();
    }
  }
}

//p-progress-bar {
//  @include mixins.absolute($top: 0, $left: 0);
//  width: 100%;
//}

app-indeterminate-progress-bar {
  @include mixins.absolute($top: 0, $left: 0);
  width: 100%;
}

@include responsive.tablet-below {
  .container {
    @include mixins.grid(auto 3fr, $gap: constants.$spacing-lg);
  }
}

@include responsive.mobile-large {
  .container {
    @include mixins.grid(1fr, $gap: constants.$spacing-lg);
    padding: 0;

    aside {
      display: none;
    }

    main {
      background-color: transparent;
    }
  }
}
