@use '../foundations/constants';
@use '../foundations/mixins';

.container {
  @include mixins.width-height(100%, 100vh);
  @include mixins.grid(min(250px, 100%) 3fr, $gap: constants.$spacing-lg);
  background-color: constants.$dark-surface-950;
  padding: constants.$spacing-lg;

  .content-container {
    border-radius: constants.$border-radius-lg;

    app-navigation-rail {
      @include mixins.width-height();
      display: block;
    }
  }

  .with-background {
    background-color: constants.$dark-surface-800;
  }
}

p-progress-bar {
  @include mixins.absolute($top: 0, $left: 0);
  width: 100%;
}
