@use '../foundations/constants';
@use '../foundations/mixins';
@use '../foundations/responsive';

.container {
  @include mixins.width-height();
  @include mixins.grid(min(250px, 100%) 3fr, $gap: constants.$spacing-lg);
  @include mixins.transition($property: all, $timing-function: ease, $duration: .8s);
  padding: constants.$spacing-lg;

  .content-container {
    @include mixins.hidden-scrollbar();
    border-radius: constants.$border-radius-lg;
    overflow: auto;

    app-navigation-rail {
      @include mixins.width-height();
      display: block;
    }
  }

  aside {
    width: auto;
  }

  main {
    background-color: constants.$dark-surface-800;
    padding: constants.$spacing-md;
  }
}

p-progress-bar {
  @include mixins.absolute($top: 0, $left: 0);
  width: 100%;
}

@include responsive.tablet-below {
  .container {
    @include mixins.grid(auto 3fr, $gap: constants.$spacing-lg);
  }
}

@include responsive.mobile-large {
  .container {
    @include mixins.grid(1fr, $gap: constants.$spacing-lg);
    padding: 0;

    aside {
      display: none;
    }

    main {
      background-color: transparent;
    }
  }
}
