<div class="episode-picker flex flex-col gap-4">
  @if (isLoading()) {
    <ng-container *ngTemplateOutlet="mainSkeleton"></ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="main"></ng-container>
  }
</div>

<!-- Page Contents -->
<ng-template #main>
  <!-- Header Of the Picker -->
  <div class="episode-picker__header flex flex-row justify-between">
    <h3 class="text-2xl font-bold">Episodes</h3>

    <!-- Select Seasons -->
    @let labelConverter = (s) => s ? 'Season ' + s : '';
    <hlm-select
      [value]="selectedSeason()" (valueChange)="handleSeasonChange($event)"
      [itemToString]="labelConverter" class="w-[20%] min-w-[125px] max-w-[200px]">
      <hlm-select-trigger>
        <hlm-select-value placeholder="Select Season" />
      </hlm-select-trigger>
      <hlm-select-content *hlmSelectPortal>
        <hlm-select-group>
          @let seasons = item().seasons.map(s => (
            {id: s.id, seasonNumber: s.season_number}
          )).filter(s => s.seasonNumber > 0);
          @for (season of seasons; track season.id) {
            <hlm-select-item [value]="season.seasonNumber">
              <span>Season {{ season.seasonNumber }}</span>
            </hlm-select-item>
          }
        </hlm-select-group>
      </hlm-select-content>
    </hlm-select>
  </div>

  <!-- Episodes Container -->
  @if (!bp.sm()) {
    <ng-scrollbar hlm class="h-[50vh] max-h[500px] rounded-xl" appearance="compact">
      <div class="episode-picker__list flex flex-col gap-4">
        @for (ep of episodes(); track ep.id; let isLast = $last) {
          <ng-container
            *ngTemplateOutlet="episodeCard; context: { $implicit: ep, isLast: isLast }"></ng-container>
        }
      </div>
    </ng-scrollbar>
  } @else {
    <me-media-carousel [items]="episodes()" [template]="episodeCard" />
  }
</ng-template>

<!-- Episode Cards -->
<ng-template #episodeCard let-ep let-isLast>
  @let cardData = {
    episodeNumber: ep.episode_number,
    imgSrc       : `${environment.tmdb.imageBaseUrl}original${ep.still_path}`,
    name         : ep.name,
    overview     : ep.overview,
  };
  <!-- There is a bug that sometimes does not render the last item -->
  @let classes = "sm:self-stretch sm:shrink-0 sm:basis-[325px] sm:ml-4";
  @if (isLast) {
    <me-episode-card
      [class]="classes"
      [item]="cardData" (click)="onEpisodeClicked.emit(ep)" />
  } @else {
    @defer (on viewport) {
      <me-episode-card
        [class]="classes"
        [item]="cardData" (click)="onEpisodeClicked.emit(ep)" />
    } @placeholder (minimum 500ms) {
      <div class="episode-picker__card" [class]="classes">
        <ng-container *ngTemplateOutlet="episodeCardSkeleton"></ng-container>
      </div>
    }
  }
</ng-template>

<!-- Page Skeleton -->
<ng-template #mainSkeleton>
  <!-- Header Of the Picker -->
  <div class="episode-picker__header flex flex-row justify-between">
    <hlm-skeleton class="w-40 h-10" />

    <!-- Select Seasons -->
    <hlm-skeleton class="w-31.25 h-10" />
  </div>

  <!-- Episodes Container -->
  @let episodeSkeletonCount = [1, 2, 3, 4, 5, 6, 7];
  @if (!bp.sm()) {
    <ng-scrollbar hlm class="h-[50vh] rounded-xl" appearance="compact">
      <div class="episode-picker__list flex flex-col gap-4">
        @for (_ of episodeSkeletonCount; track $index) {
          <ng-container *ngTemplateOutlet="episodeCardSkeleton"></ng-container>
        }
      </div>
    </ng-scrollbar>
  } @else {
    <me-media-carousel [items]="episodeSkeletonCount" [template]="episodeCardSkeletonDesktop" />
  }
</ng-template>

<!-- Episode Entry Skeleton (Mobile) -->
<ng-template #episodeCardSkeleton>
  <div class="flex flex-row gap-4 items-center">
    <hlm-skeleton class="h-21 rounded-md aspect-video" />
    <div class="flex flex-col gap-2 w-full">
      <hlm-skeleton class="w-full h-6" />
      <hlm-skeleton class="w-full h-4" />
      <hlm-skeleton class="w-[60%] h-4" />
    </div>
  </div>
</ng-template>

<!-- Episode Entry Skeleton (Desktop) -->
<ng-template #episodeCardSkeletonDesktop>
  <div
    hlmCard
    class="container flex flex-col gap-4 w-full h-full p-3 self-stretch shrink-0 basis-[325px] ml-4">
    <!-- Image -->
    <hlm-skeleton
      class="relative aspect-video w-full object-cover rounded-md overflow-hidden" />

    <!-- Descriptions -->
    <div class="episode-card__info flex flex-col gap-1 text-start">
      <hlm-skeleton class="h-5 w-32" />
      <hlm-skeleton class="h-12 w-full" />
    </div>
  </div>
</ng-template>
