@use '../../../../foundations/mixins';
@use '../../../../foundations/constants';
@use '../../../../foundations/responsive';

.container {
  @include mixins.flex();
  @include mixins.transition($property: background-color);
  width: 100%;
  background-color: transparent;
  border: none;

  border-radius: constants.$border-radius-md;
  padding: .8em 1em;

  &:hover {
    cursor: pointer;
    background-color: constants.$dark-surface-700;
  }
}

.selected {
  background-color: constants.$dark-surface-600;
}


@include responsive.tablet-below {
  .container {
    .content {
      display: none;
    }
  }
}
