<section class="playlist-contents flex flex-col gap-4 items-center min-h-screen">
  <!-- Header -->
  <om-aurora
    class="w-full flex justify-center items-center" styleClass="flex justify-center items-center">
    <div class="playlist-contents__wrapper__header pt-24 w-[95%] max-w-[1750px] ">
      <div class="header flex flex-col items-center gap-4 sm:flex-row sm:items-end">
        <!-- Playlist Image Cover -->
        <me-playlist-entry-cover
          [images]="coverImages()"
          class="w-full aspect-square max-w-[200px] sm:max-w-[225px] md:max-w-[250px] rounded-md overflow-hidden" />

        <!-- Playlist Meta -->
        <div class="header-meta flex flex-col items-center gap-1 sm:items-start">
          <!-- Title -->
          <h1 class="font-bold text-4xl tracking-tight line-clamp-1">{{
              currentPlaylist()?.name ?? 'Unknown'
            }}</h1>
          <!-- Total Items, Last Modification Date-->
          <div
            class="header-meta flex gap-4 text-sm text-muted-foreground font-light tracking-wide">
            <span>{{ currentPlaylist()?.items?.length ?? 0 }} Items</span>
            <span class="font-black">&middot;</span>
            <span>Updated {{ lastModificationLabel() }}</span>
          </div>
        </div>

      </div>
    </div>
  </om-aurora>

  <!-- Body -->
  <div
    class="playlist-contents__wrapper w-[95%] max-w-[1750px] h-full flex flex-col gap-4 relative">

    <!-- Controls -->
    <div class="controls flex flex-row items-center justify-between">
      <div class="right-controls">
        @if (isAuthenticated()) {
          <button
            hlmBtn
            hlmTooltip="Sync Playlists"
            variant="outline" [disabled]="isSyncing() || !isAuthenticated()"
            (click)="syncPlaylists()">
            <ng-icon
              [name]="(isSyncing()) ? 'lucideRefreshCw' : 'lucideCloudSync'"
              [class.animate-spin]="isSyncing()" />
            @if (bp.sm()) {
              <span class="text-xs tracking-wide font-light">Sync</span>
            }
          </button>
        }
      </div>

      <div class="left-controls">
        <div hlmButtonGroup>
          <button hlmBtn variant="outline" class="rounded-full" (click)="toggleSortingDirection()">
            <ng-icon
              [name]="(selectedSortingDirection() === 'asc') ? 'lucideArrowUpNarrowWide' : 'lucideArrowDownWideNarrow'"
            />
          </button>
          <button
            hlmBtn [hlmDropdownMenuTrigger]="sortOptionsDropdown" variant="outline"
            class="rounded-full">
            <ng-icon name="lucideArrowUpDown" />
          </button>
        </div>
      </div>
    </div>

    <hlm-separator />

    <div
      class="body grid gap-4 sm:gap-5 lg:gap-6
      grid-cols-[repeat(auto-fill,minmax(150px,1fr))]
      sm:grid-cols-[repeat(auto-fill,minmax(175px,1fr))]
      lg:grid-cols-[repeat(auto-fill,minmax(200px,1fr))]
      ">
      @for (playlistItem of sortedPlaylistContents(); track playlistItem.id) {
        <ng-container
          *ngTemplateOutlet="playlistItemContent
          context: {playlistItem: playlistItem, delay: $index}" />
      }
    </div>
  </div>
</section>

<ng-template #sortOptionsDropdown>
  <hlm-dropdown-menu class="w-[150px]">
    <hlm-dropdown-menu-group>
      @for (sortOption of sortingOptions; track sortOption.value) {
        <button
          hlmDropdownMenuRadio [checked]="selectedSortingOption().value === sortOption.value"
          (triggered)="updateSortingOption(sortOption)">
          {{ sortOption.label }}
          <hlm-dropdown-menu-radio-indicator />
        </button>

      }
    </hlm-dropdown-menu-group>
  </hlm-dropdown-menu>
</ng-template>

<ng-template #playlistItemContent let-playlistItem="playlistItem" let-delay="delay">
  <div
    class="playlist-item-content__wrapper relative" [style.--animation-delay]="`${delay * 100}ms`"
    animate.enter="slide-up-fade-in-animation">
    <me-media-carousel-cover-item
      [item]="playlistItem"
      (click)="navigateToWatchPage(playlistItem)"
    />
    <button
      hlmBtn meShowPlaylists size="lg" variant="secondary"
      class="absolute top-2 right-2 bg-secondary/50 rounded-xl"
      [playlistContext]="{trackId: playlistItem.id, mediaType: playlistItem.type}"
    >
      <ng-icon
        name="lucideBookmark" class="text-lg md:text-lg [&_svg]:fill-foreground text-foreground" />
    </button>
  </div>
</ng-template>
