@use "./foundations/resets";
@use "./foundations/mixins";
@use "./foundations/constants";


body {
  @include mixins.width-height(100vw, 100vh);
  background-color: constants.$dark-surface-950;
  overflow: hidden;

  app-root {
    @include mixins.width-height();
    display: inline-block;
  }
}
