@use '../../foundations/constants';
@use '../../foundations/mixins';

.container {
  @include mixins.width-height($height: 100%);
  @include mixins.grid($grid-template-rows: auto 1fr, $gap: constants.$spacing-md);

  svg {
    @include mixins.one-by-one(1.5rem);
    fill: constants.$dark-surface-200;
  }

  .search-results {
    @include mixins.border-radius(constants.$border-radius-lg);
    background-color: constants.$dark-surface-800;
    padding: constants.$spacing-md;
  }
}
