@use '../../../../foundations/mixins';
@use '../../../../foundations/constants';
@use '../../../../foundations/responsive';

.container {
  @include mixins.flex($direction: column, $align-items: start, $justify-content: start, $gap: unset);
  position: relative;

  .top-texts {
    @include mixins.flex($direction: column, $align-items: start, $gap: constants.$spacing-s);
    width: 100%;
  }

  .contents {
    @include mixins.width-height();
    position: relative;

    swiper-container {
      @include mixins.width-height();

      swiper-slide {
        @include mixins.transition($duration: 500ms, $delay: calc(var(--index) * 100ms));
        width: auto;

        @starting-style {
          transform: translateY(100%);
          opacity: 0;
        }
      }
    }

    .swiper-pagination {
      @include mixins.flex($gap: .2em);
      position: absolute;
      z-index: 100;
      top: -.6em;
      right: 0;

      ::ng-deep .swiper-pagination-bullet {
        @include mixins.transition($property: background-color, $timing-function: ease);
        @include mixins.width-height(1.3rem, .25rem);
        display: inline-block;
        border-radius: constants.$border-radius-sm;
        background-color: constants.$dark-surface-600;
      }

      ::ng-deep .swiper-pagination-bullet-active {
        background-color: rebeccapurple;
      }
    }
  }

}

.with-padding {
  gap: constants.$spacing-xxl;
}

@include responsive.tablet-below {
  .container {
    .contents {
      .swiper-pagination {
        display: none;
      }
    }
  }
}
